@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

$fontFamily: 'Poppins', sans-serif;
$primaryColor: #25235b;
$secondaryColor: #ee666c;  /*rgb(238, 102, 108)*/
$tertiaryColor: #69c5d7;
$black: #212529;
$lightGray: #f3f3f2;
$white: #fff;
$fontSize: 16px;
$transitions: .5s ease;
$boxShadow: 0 0 20px gray;